@import url('https://fonts.googleapis.com/css2?family=Ephesis&display=swap');

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding: 8px 0;
    background-color: white;
    border-radius: 25px;
}

footer .footerF {
    font-weight: 500;
    font-family: 'Ephesis', cursive;
}

footer .footerF span {
    color: rgb(0, 191, 255);
    font-weight: 600;
}