@import url('https://fonts.googleapis.com/css2?family=Ephesis&display=swap');

:root {
    --bg-color: #eceaea;
}

main {
    display: grid;
    grid-template-columns: 30% 70%;
    height: 100vh;
    border-top: 8px solid var(--bg-color);
}

main .sidebar {
    background-color: white;
    border-bottom: 5px solid var(--bg-color);
    border-right: 5px solid var(--bg-color);
    border-radius: 20px;
}

main .mainMain {
    padding: 20px;
    border-bottom: 5px solid var(--bg-color);
    border-left: 5px solid var(--bg-color);
    border-radius: 20px;
    background-color: white;
}


/* Sidebar */
.profile {
    position: sticky;
}

.themesImg {
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    width: 100%;
    padding: 3px;
    background-color: red;
    object-fit: cover;
    animation: move 8s infinite reverse;
}

@keyframes move {
    0% {
        background-color: red;
        background-color: palevioletred;
    }

    25% {
        background-color: orange;
    }

    50% {
        background-color: yellow;
    }

    75% {
        background-color: palevioletred;
    }

    100% {
        background-color: pink;
    }
}

.imgAvatar {
    display: flex;
    align-items: center;
    justify-content: center;
}

.avt {
    cursor: pointer;
    position: absolute;
    margin: 0 auto;
    bottom: -15px;
    height: 80px;
    width: 80px;
    object-fit: cover;
    border-radius: 50%;
    padding: 1px;
    background-color: white;
    animation: move 5s linear infinite reverse;
}

.avt:hover {
    scale: 1.1;
}

.proTitle h5 {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Ephesis', cursive;
    font-size: 20px;
}

.socialNet {
    padding: 0 20px;
}

.socialNet a {
    color: black;
}

.socialNet p {
    padding: 10px 5px;
    cursor: pointer;
    border-radius: 3px;
    background-color: #eceaea;
    transition: all .3 linear;
}

.socialNet p:hover {
    scale: 0.97;
}

.images h4 {
    padding: 5px 10px;
    opacity: 0.7;

}

.images .listImg {
    display: flex;
    align-items: center;
    padding: 0 5px;
}

.listImg .listImgs {
    border-radius: 20px;
    height: 180px;
    padding: 0 2px;
    width: 100%;
    object-fit: cover;
    cursor: pointer;
    transition: all .3 linear;
}

.listImgs:hover {
    opacity: 0.8;
    box-shadow: 2px 2px rgba(0, 140, 186, 0.5);
}

/* mainMain */